[Desktop Entry]
Name=Hangar
Comment=A native Bluesky client for Linux
Exec=hangar
Icon=io.github.sethcottle.Hangar
Terminal=false
Type=Application
Categories=Network;InstantMessaging;GTK;
Keywords=bluesky;social;atproto;
StartupNotify=true
